div {
    position: relative;
    width: 300px;
    height: 150px;
    background: white;
    overflow: hidden;
    transform: scale(2);
    margin-left: 500px;
    margin-top: -100px;
    align-items: center;
  }
  div:after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    top: 100px;
    right: 50px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #4200AB, 0 0 0 10px #000095, 0 0 0 15px #00ABFF, 0 0 0 20px #00C800, 0 0 0 25px #FFF800, 0 0 0 30px #FF7642, 0 0 0 35px #E40000;
  }